<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/sign-up.css">
    <title>Sign-up</title>
   

</head>
<body>
    <div class="form">
        <h3>Sign-up Form</h3>
        <form  method="post" action="/user">
            <label>Name</label>
            <input type="text" name="name"> <br>
            <label>email</label>
            <input type="text" name="email"> <br>
            <label>password</label>
            <input type="password" name="password"> <br>
            <center>
                <button type="submit" id="submit">sign-up</button>
            </center>
           
        </form>
    </div>
</body>
</html>